<h3>Регистрация:</h3>
<form class="form-horizontal login-form" name="registry-form">

    <div class="form-group">
        <lable for="input-username" class="col-lg-2 control-label">Логин: </lable>
        <div class="col-lg-10">
            <input name="username" class="form-control" type="text" id="input-username" placeholder="Логин" style="max-width:80%"/>
        </div>
    </div>

    <div class="form-group">
        <lable for="input-username" class="col-lg-2 control-label">Почта: </lable>
        <div class="col-lg-10">
            <input name="email" class="form-control" type="text" id="input-username" placeholder="Почта" style="max-width:80%"/>
        </div>
    </div>

    <div class="form-group">
        <lable for="input-password" class="col-lg-2 control-label">Пароль: </lable>

        <div class="col-lg-10">
            <input name="password" class="form-control" type="password" id="input-password" placeholder="Пароль" style="max-width:80%"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-primary" data-loading-text="Отправка...">Зарегистрироваться</button>
            <span class="help-block error"></span>
        </div>
    </div>

</form>