html, body{
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    width: 100%;
}

.game-wrap{
    width: 100%;
}

.menu{
    display: block;
    width: 80%;
    height: 20px;
    margin: 10px auto 5px;
}
.menu .links, .menu .user-control{
    display: inline-block;
    text-align: center;
}
.menu .links{
    float: left;
}
.menu .user-control{
    float: right;
}
.menu .user-control a{
    margin-left: 20px;
}

.question-wrap, .letters-wrap, .variants-wrap, .answer-wrap{
    position: relative;
    background-color: #ddddff;
    width: 80%;
    height: 150px;
    margin: 10px auto;
    border: 1px solid #00b3ee;
    padding: 10px;
}


.question-wrap .question{
    display: table;
    height: 100%;
    width: 100%
}
.question-wrap .question span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em;
}
.question-wrap .users-online{
    position: absolute;
}

.question-wrap .theme{
    position: absolute;
    bottom: 5px;
}


.letters-wrap .letters{
    display: table;
    height: 100%;
    width: 100%;
}
.letters-wrap .letters span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 3em;
    letter-spacing: 25px;
}


.variants-wrap .variants{
    display: inline-block;
    margin-right: 25px;
}
.variants-wrap .variants ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.variants-wrap .variants ul li{
    display: inline;
}
.variants-wrap .right-answer{
    display: table;
    height: 100%;
    width: 100%;
}
.variants-wrap .right-answer span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em;
}
.variants-wrap .themes{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.variants-wrap .themes div{
    margin: 0 3px;
    padding: 13px;
    width: 20%;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    font-size: 1.5em;
    background-color: #E6D7F4;
    cursor: pointer;
}
.variants-wrap .themes div:hover{
    background-color: #08486D;
    color: #DBEFFA;
    border: 3px solid #ddddff;
}
.variants-wrap .themes .clicked{
    background-color: #08486D;
    color: #DBEFFA;
    border: 3px solid #ddddff;
}


.answer-wrap .answer{
    width: 100%;
    height: 100%;
    padding-top: 25px;
}
.answer-wrap form{
    width: 305px;
    margin: 0 auto;
}
.answer-wrap form input{
    width: 200px;
}
.answer-wrap form button{
    width: 100px;
}
.answer-wrap .timer{
    margin: 0 auto;
    width: 100px;
    text-align: center;
    font-size: 3em;
}
.answer-wrap .game-control{
    position: absolute;
    bottom: 2px;
    left: 2px;
}