.chat-container .chat-top-menu
  height: 4.25rem
  overflow: hidden
  z-index: 5

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

  background-color: #3c4658
  color: #eaeaea
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);

  &>span
    margin: 0 1rem

  .fa-angle-right
    display: none
    font-size: 1.5rem
    cursor: pointer
    height: 100%
    width: 4rem
    text-align: center
    line-height: 4rem

    &:hover
      background-color: #637493


@media all and (max-width: 767px)
  .chat-container .chat-top-menu
    height: 5rem

    .my-nickname,.users-online
      font-size: 1.7rem

    .fa-angle-right
      font-size: 2rem
      width: 5rem
      line-height: 5rem

@media all and (min-width: 1200px)
  .chat-container .chat-top-menu
    height: 2.5rem

    .my-nickname,.users-online
      font-size: 1.2rem

    .fa-angle-right
      font-size: 1.5rem
      width: 2.5rem
      line-height: 2.5rem