.game-wrap .action-area .gratters
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  font-size: 2rem

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &.get-ready
    background-color: rgba(255, 255, 255, 0.4)

  &.none-right
    background-color: rgba(0, 0, 255, 0.5)

  &.someone-right
    background-color: rgba(255, 0, 0, 0.5)

  &.you-right
    background-color: rgba(0, 255, 0, 0.5)

  &.wait-theme
    background-color: rgba(255, 200, 150, 0.4)

  span
    text-align: center
    margin-bottom: 1rem