.game-wrap
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex: 1
  flex-direction: column

.game-wrap .background-shadow.active
  top: 0
  right: 0
  bottom: 0
  left: 0
  position: absolute
  z-index: 9
  background-color: rgba(0,0,0,0.8)

.game-wrap.chat-opened
  width: 70%