/*
.top_menu{
  height 55px

  display flex
  flex-direction row
  justify-content space-between
  align-items center

  background-color #5bc0de

  .menu-middle{
    font-size 1.2em
  }

  .fa-bars,.fa-commenting-o{
    font-size 2em
    margin 0 10px
    cursor pointer
  }
}
 */